.category_container {
  width: 90%;

  gap: 20px;
  margin: 0px auto;
  padding: 25px;

  display: flex;

  overflow: scroll;
}

.title {
  margin: 50px 30px;
}

.priority_container {
  width: 90%;
  display: block;
  overflow: scroll;
}

.blank {
  height: 100px;
}
