.btn_primary {
  width: 100px;
  height: 40px;

  margin: 20px;
  border-radius: 20px;

  background-color: #fd5962;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.btn_category {
  width: 90px;
  height: 90px;

  margin: 20px 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:auto;

  border-radius: 20px;
  background-color: #fff;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.08);
  flex:1 0 90px;
  &:hover {
    cursor: pointer;
  }
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img{
    display:block;
    margin-top:13px;
  }
  span {
    font-size: 13.5px;
    text-shadow:0px 3px 4px rgba(0, 0, 0, 0.05);
    font-weight:640;
    margin-top:3px;
    padding: 5px 6px;
    text-align: center;
  }
}

.btn_priority {
  width: 80px;
  height: 30px;
  border-radius:5px;
  &:hover {
    cursor: pointer;
  }
  margin:0px auto auto 30px;
  span{
    font-weight:700;
  }
  .imageWrapper{
    margin-left:5px;
    margin-top:5px;
  }
}


.btn_check {
  width: 30px;
  height: 30px;
  margin: 0px 0px;

  background-color: white;
  svg {
    justify-content: left;
    display: flex;
    font-size: 1.5rem;
  }
  span{
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
  }
}


.btn_period {
  width: 80%;
  height: 120px;
  margin: 50px auto;
  display: flex;

  // border-radius: 20px;
  // background-color: aliceblue;
  border-color: black;

  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1);
  flex: 1 0 90px;

  justify-content: space-around;
  align-items: center;

  img {
    margin-left: 20px;
  }
  svg {
    display: flex;
    margin: auto 20px;
    font-size: 1.5rem;
  }
  h2 {
    width: 120px;
    text-align: center;
  }
  p {
    font-style: italic;
    margin-right: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn_setting {
  width: 50%;
  height: 80px;

  margin-bottom: 30px;
  margin: 20px auto;

  display: flex;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1);

  justify-content: center;
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.red {
  font-style: italic;
  color: red;
}
.blue {
  font-style: italic;
  color: blue;
}
