.btn_priority {
    width: 80px;
    height: 30px;
    border-radius:5px;
    &:hover {
      cursor: pointer;
    }
    margin:0px auto auto 30px;
    span{
      font-weight:700;
    }
    .imageWrapper{
      margin-left:5px;
      margin-top:5px;
    }
  }